.movies-card {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
} 

.movies-card__image {
  width: 100%;
  max-width: 100%;
  height: 203px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen  and (max-width: 768px) {
  .movies-card__image {
    height: 190px;
  }
}

.movies-card__content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  box-sizing: border-box;
}

.movies-card__content-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  height: 100%;
}

.movies-card__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.2;
  color: #000000;
  margin: 0 0 10px 0;
}

.movies-card__description {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
  margin: 0;
  color: #A0A0A0;
}

.movies-card__button {
  width: 30px;
  height: 30px;
  padding: 0;
  display: block;
  transition: opacity 0.4s ease, background 0.4s ease;
  border-radius: 36px;
  border: none;
  cursor: pointer;
}

.movies-card__button_save {
  background: #F9F9F9 url('../../images/bookmark.svg') center center no-repeat;
}

.movies-card__button_delete {
  background: #F9F9F9 url('../../images/close-icon.svg') center center no-repeat;
  background-size: 10px 10px;
}

.movies-card__button_saved {
  background: #3456F3 url('../../images/bookmark-saved.svg') center center no-repeat;
}

.movies-card__button:hover {
  opacity: 0.8;
}

.movies-card__link {
  display: inline-block;
  position: relative;
}

.movies-card__link:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  background: transparent;
  transition: background 0.4s ease-in;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.movies-card__link:hover:before {
  background: rgba(0, 0, 0, 0.4);
}
