.profile {
  height: calc(100vh - 74px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__container {
  width: 410px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen  and (max-width: 480px) {
  .profile__container {
    width: 260px;
  }
}

.profile__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  margin: 0 0 90px 0;
  text-align: center;
}

@media screen  and (max-width: 585px) {
  .profile__title {
    margin: 0 0 80px 0;
  }
}

.profile__field {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.2;
}

.profile__field:last-of-type {
  margin-bottom: 193px;
}

.profile__input {
  flex: 1;
  padding: 8px 0;
  text-align: right;
  border: none;
  background: transparent;
  outline: none;
  color: #000000;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.2;
}

.profile__field-divider {
  border: none;
  height: 1px;
  background: #E8E8E8;
}

.profile__error {
  display: none;
  position: absolute;
  left: 0;
  top: 22px;
  font-family: 'Inter','Arial', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #FF3055;
}

.profile__error_visible {
  display: block;
}

.profile__submit-btn,
.profile__logout-btn {
  display: block;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  border: none;
  background: transparent;
  color: #000000;
  font-family: 'Inter','Arial', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
  cursor: pointer;
  padding: 10px;
  transition: opacity 0.4s ease;
}

@media screen  and (max-width: 480px) {
  .profile__submit-btn,
  .profile__logout-btn {
    font-size: 12px;
    width: 100%;
  }
}

.profile__submit-btn:hover,
.profile__logout-btn:hover {
  opacity: 0.8;
}

.profile__logout-btn {
  color: #FF004D;
  font-weight: 500;
}
