.promo {
  min-height: calc(100vh - 140px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  color: #FFFFFF;
  margin: 0;
  max-width: 730px;
  z-index: 1;
  text-align: center;
}

.promo__logo {
  width: 320px;
  height: 320px;
  position: absolute;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 585px) {
  .promo__title {
    font-size: 31px;
    max-width: 320px;
  }
  .promo__logo {
    width: 248px;
    height: 248px;
  }
}
