.search-form {
  padding: 45px 0 45px 0;
}

@media screen and (max-width: 768px) {
  .search-form {
    padding: 60px 0 60px 0;
  }
}

@media screen and (max-width: 585px) {
  .search-form {
    padding: 90px 0 50px 0;
  }
}

.search-form__container {
  width: 100%;
}

.search-form__wrapper {
  padding: 0 30px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}

@media screen and (max-width: 585px) {
  .search-form__wrapper {
    padding: 0;
  }
}

.search-form__form {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: nowrap;
}

.search-form__input {
  flex: 1;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: left;
  padding: 15px 20px 15px 20px;
  height: 50px;
  border: none;
  background: #FFFFFF;
  outline: none;
  width: 100%;
  color: #000000;
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 585px) {
  .search-form__input {
    height: 44px;
  }
}

.search-form__input::placeholder {
  color: #A0A0A0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Inter', 'Arial', sans-serif;
}

.search-form__button {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.6;
  text-align: center;
  padding: 8px 0 7px 0;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  display: block;
  height: 44px;
  width: 44px;
  background: #3456F3 url('../../images/search-icon.svg') center center no-repeat;
  border-radius: 8px;
  transition: opacity 0.4s ease;
}

.search-form__button:hover {
  opacity: 0.8;
}
