.search-form {
  padding: 45px 0 45px 0;
}

@media screen and (max-width: 768px) {
  .search-form {
    padding: 60px 0 60px 0;
  }
}

@media screen and (max-width: 585px) {
  .search-form {
    padding: 90px 0 50px 0;
  }
}

.search-form__container {
  width: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .search-form__container {
    width: 100%;    
  }
}

.search-form__wrapper {
  padding: 0 30px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}

@media screen and (max-width: 585px) {
  .search-form__wrapper {
    padding: 0;
  }
}

.search-form__form {
  width: 100%;
}

.search-form__input {
  box-sizing: border-box;
  text-align: center;
  padding: 15px 0 15px 40px;
  height: 56px;
  border: none;
  border-bottom: 1px solid #E8E8E8;
  background: transparent url(../../images/search-icon.svg) left center no-repeat;
  outline: none;
  width: 100%;
  color: #000000;
  font-size: 14px;
  line-height: 1.2;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 585px) {
  .search-form__input {
    background: transparent;
    text-align: left;
    padding: 15px 0 15px 0;
  }
}

.search-form__input::placeholder {
  color: #A0A0A0;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
}

@media screen and (max-width: 585px) {
  .search-form__input::placeholder {
    font-size: 18px;
  }
}

.search-form__button {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.6;
  text-align: center;
  padding: 8px 0 7px 0;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
  display: block;
  height: 34px;
  width: 60px;
  background: #3456F3;
  border-radius: 48px;
  transition: opacity 0.4s ease;
  position: absolute;
  top: 7px;
  right: 0;
}

.search-form__button:hover {
  opacity: 0.8;
}
