.header {
  min-height: 74px;
  margin-bottom: 20px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px 30px;
}

@media screen and (max-width: 768px) {
  .header__container {
    padding: 15px 0;
  }
}

.header__logo-container {
  display: inline-block;
}

.header__toolbar {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 585px) {
  .header__toolbar {
    gap: 14px;
  }
}

.header__signup {
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #000000;
  text-decoration: none;
  transition: opacity 0.4s ease;
}

@media screen and (max-width: 585px) {
  .header__signup {
    font-size: 10px;
  }
}

.header__signup:hover {
  opacity: 0.7;
}

.header__signin {
  display: block;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-decoration: none;
  background: #3456F3;
  color: #FFFFFF;
  border-radius: 3px;
  border: none;
  padding: 9px 20px 8px 20px;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

@media screen and (max-width: 585px) {
  .header__signin {
    font-size: 10px;
  }
}

.header__signin:hover {
  opacity: 0.8;
}

.header__menu-btn {
  display: none;
  width: 44px;
  height: 44px;
  border: none;
  cursor: pointer;
  background: url('../../images/burger-menu-icon.svg') center center no-repeat;
  transition: opacity 0.4s ease;
}

@media screen  and (max-width: 768px) {
  .header__menu-btn {
    display: block;
  }
}

.header__menu-btn:hover {
  opacity: 0.8;
}
