.no-results {
  padding: 70px 0 70px 0;
  min-height: calc(100vh - 606px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-results__text {
  display: block;
  margin: 0;
  text-align: center;
  color: #A0A0A0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2;
}
